.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 2em 0;
  background-color: rgb(222, 232, 229);
}

.button {
  background-color: aquamarine;
  color: #000;
  border: none;
  &:hover, &:active {
    color: #fff;
  }
}