* {
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}


@media (max-width: 768px) {
  .main-container {
    padding-top: 78px;
    margin: 0 5px;
  }
  span {
    padding: 0 !important;
  }
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  h1 {
    margin: 0 10px;
  }
  
}
main {
  flex-grow: 1;
  padding: 2em 0;
  background-color: $background;
}

// .button {
//   background-color: $button;
//   color: #000;
//   border: none;
//   &:hover, &:active {
//     color: #fff;
//   }
// }

.red-button {
  background-color: $button;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  &:hover, &:active {
    background-color: lighten($button, 8%);
    color: #fff;
    cursor: pointer;
  }
}

.orange-button {
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  &:hover, &:active {
    background-color: lighten(orange, 8%);
    color: #fff;
    cursor: pointer;
  }
}

.green-button {
  background-color: rgb(14, 150, 14);
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  &:hover, &:active {
    background-color: lighten(rgb(14, 150, 14), 8%);
    color: #fff;
    cursor: pointer;
  }
}