$primary: #fff;
$background: #e8e8e8;
$overlay: #c5c5c5;
$button: #e41a23;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;700&display=swap');