.form-submission {
  @extend %flex-center;
  flex-direction: column;
  background-color: $overlay;
  @media (max-width: 768px) {
    margin: 5vh 10vw;
    border-radius: 3vh;
    width: 80vw;
  }
  @media (min-width: 769px) {
    margin: 5vh 25vw;
    border-radius: 3vh;
    height: 70vh;
    width: 50vw;
  }
  input {
    margin-bottom: 3vh;
    border-radius: 3px;
    height: 5vh;
  }
  button {
    margin-bottom: 3vh;
  }
  p.text-danger {
    color: $button;
  }
}

.register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  .register-form {
    background-color: white;
    padding: 40px;
    width: 450px;
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  h1 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
  }
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type='checkbox'] {
    margin-top: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  .text-danger {
    color: #f44336;
    font-size: 14px;
    margin-top: 5px;
  }
  .teacher-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    label,
    input[type='checkbox'] {
      margin: 0;
    }
  }
  input[type='checkbox'] {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}