.notesButton {
  display: block;
}

.image-field {
  img {
    max-width: 30vw;
  }
  .image-input {
    padding: 10px 5px;

  }
}

.viewText {
  background: transparent;
  outline: none;
  resize: none;
  overflow: auto;
  display: block;
}

.progress-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 40px;
}

.form-check-input:checked {
  background-color: $button !important;
  border-color: $button !important;
}

.form-check-input:focus {
  border-color: $button !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(149, 149, 146, 0.25) !important;
}

.form-switch .form-check-input:not(:checked):focus {
  --bs-form-switch-bg: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%280, 0, 0, 0.25%29%27/%3e%3c/svg%3e') !important;
}

.form-switch .form-check-input:checked:focus {
  --bs-form-switch-bg: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23ffffff%27/%3e%3c/svg%3e') !important;
}
